{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}


<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
						integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	  crossorigin="anonymous">
	<link rel="stylesheet" href="static/PrettyFasta.css">
	<link rel="stylesheet" href="static/dsembler.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">


	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script src="static/PrettyFasta.js"></script>
	<script src="static/dsembler.js"></script>

	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


	<title>DNA Assember</title>
</head>

{% endblock %}




{% block content %}

<div class="wrap">
	<div class="jumbotron">
		<h1 class="display-4" id="app-title">Dsembler</h1>
		<p class="lead">DNA Assembly Designer</p>
		<hr class="my-4">
		<p class="lead">
		<button onclick="openClose()" id="btn-post-box" type="button" class="btn btn-primary">Open input box
		</button>
		</p>
	</div>

	<form  action="/insert_item" method="POST" role="form", enctype="multipart/form-data">
		<div id="post-box" class="form-post" style="display:none">

			<div class="form-group">
				{{ wtf.form_field( form.gene_seq, class='form-control', placeholder="Gene Sequence") }}
				<p> OR Upload a FASTA file </p>
				{{ forms.genes }}
			</div>

			<div class="form-group"> 
				{{ wtf.form_field(form.oligomer_size, class='form-control', placeholder="Nucleotides") }}
			</div>

			<div class="form-group">
				{{ wtf.form_field(form.overlap_size, class='form-control', placeholder="Nucleotides") }}
			</div>

			<div class="row">
				<div class = "form-group col-md-8">
					{{ wtf.form_field(form.optimal_temp, class='form-control', placeholder="C") }}
				</div>
				<div class="form-group col-md-2">
					{{ wtf.form_field(form.temp_range, class='form-control') }}
				</div>
			</div>

			<div class="row">
				<div class = "form-group col-md-8">
					{{ wtf.form_field(form.cluster_size, class='form-control', placeholder="Number of oligomers") }}
				</div>
				<div class="form-group col-md-2">
					{{ wtf.form_field(form.cluster_range, class='form-control') }}
				</div>
			</div>


			<button type="button" class="btn btn-primary" onclick="postItem()">Save item</button>
		</div>
	</form>
</div>


<div class="list-container">
<div class="container mb=3 mt-3">

<table id="item-list-table" class="table table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>Target sequence</th>
			<th>Oligomer size</th>
			<th>Overlap size</th>
			<th>Optimal melting-temp.</td>
			<th>Oligomers per cluster</th>
		</tr>
	</thead>
</table>

</div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Design results</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				GCCCAAGGCCGCTTGAGCAAATGCTTATG<br>
				GCGCAGCTGAACGCTGATCTCTAATACTAAAATCACTG<br>
				TCGATTGATCATTTGGTTGACTTTTGCCAGATACTGAGGCTGGCTAT<br>
				GGGAGCTGGCGCAGGTGAAAAAACTGCCGATTTTCCC<br>
				GCCCAAGGCCGCTTGAGCAAATGCTTATG<br>
				GCGCAGCTGAACGCTGATCTCTAATACTAAAATCACTG<br>
				TCGATTGATCATTTGGTTGACTTTTGCCAGATACTGAGGCTGGCTAT<br>
				GGGAGCTGGCGCAGGTGAAAAAACTGCCGATTTTCCC<br>
				GCCCAAGGCCGCTTGAGCAAATGCTTATG<br>
				GCGCAGCTGAACGCTGATCTCTAATACTAAAATCACTG<br>
				TCGATTGATCATTTGGTTGACTTTTGCCAGATACTGAGGCTGGCTAT<br>
				GGGAGCTGGCGCAGGTGAAAAAACTGCCGATTTTCCC<br>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Download</button>
			</div>
		</div>
	</div>
</div>



{% endblock %}



