	#app-title {
		font-family: "Stylish", sans-serif;
	}

	.wrap {
		width: 900px;
		margin: auto;
	}

	.comment {
		color: blue;
		font-weight: bold;
	}

	#post-box {
		width: 600px;
		margin: 20px auto;
		padding: 50px;
		border: #eeeeee solid;
		border-radius: 5px;
	}

	.list-container {
		width: 900px;
		margin: auto;
	}


	td.details-control {
		background: url('open.JPG') no-repeat center center;
		cursor: pointer;
		background-size: 30px;
	}

	tr.details td.details-control {
		background: url('close.JPG') no-repeat center center;
		background-size: 29px;
	}

	.target-sequence-label {
		padding-left: 10px;
		font-size: 16px;
	}
