<html>
  <body>

    <table border="1">
      <thead>
        <thead>
          <td>User</td>
          <td>Gene Sequence</td>
          <td>Oligomer Size</td>
          <td>Overlap Size</td>
          <td>Melting Temperature</td>
          <td>+- (C)</td>
          <td>Cluster Size</td>
          <td>+-</td>
       </thead>
       {{rows}}
       {% for row in rows %}
          <tr>
             <td>{{row["user"]}}</td>
             <td>{{row["gene_seq"]}}</td>
             <td> {{ row["oligomer_size"]}}</td>
             <td>{{row['overlap_size']}}</td>
             <td>{{row["melting_temp"]}}</td>
             <td>{{row["temp_range"]}}</td>
             <td>{{row["cluster_size"]}}</td>
             <td>{{row["cluster_range"]}}</td>
          </tr>
       {% endfor %}
    </table>

    <a href="/"> Go back to the main page </a>

  </body>
</html>