{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <link rel="stylesheet" href="static/dsembler.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    
    <title>Dsembler</title>


{% endblock head %}

{% block content %}

    <header class = "navbar navbar-expand-md navbar-dark bg-dark bd-navbar">
        <nav class = "container-sm flex-wrap flex-md-nowrap" aria-label="Main navigation">
            <a class="navbar-brand p-0" href="/" aria-label="Dsembler"> Home </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"> </span>
          </button>
          <div class="col-md-8 collapse navbar-collapse">
              <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
                  <li class="nav-item nav-link active" href=""> Form </li>
                  <li class="nav-item nav-link" href="#"> Protocol </li>
                  <li class="nav-item nav-link" href="#"> Documentation </li>
              </ul>
              <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                <!-- <a class="navbar-item nav-link" aria-label="Dsembler"> Previous Work </a> -->
                <a href="{{ url_for('logout') }}"class="navbar-item nav-link" aria-label="Dsembler"> Logout </a>
          </div>
        </nav>
    </header>

    <div class="container-sm"><br>
        {% if clusters %}
            <center>
                <a href="/return-excel-file/" target="blank"><button class='btn btn-info btn-lg'>Excel File</button></a>
                <a href="/return-fasta-files/" target="blank"><button class='btn btn-info btn-lg'>FASTA File</button></a>
            </center>
        {% endif %}
    </div>



{% endblock %} 